.main-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-page__button {
  margin-bottom: 20px;
}

.main-page__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-page__paragraph {
  text-align: center;
}
