.help-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.help-page__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.help-page__collapse {
  width: 100%;
}

.help-page__p {
  margin: 15px 0;
}

.help-page__collapse .ant-collapse-header {
  display: flex;
  align-content: center;
}

.help-page__collapse .ant-collapse-header .anticon.ant-collapse-arrow {
  display: flex;
  align-items: center;
}

.help-page__collapse .ant-typography {
  margin-bottom: 0;
}
